<configuration>
	<appSettings>
		<add key="BindingPort" value="8098"/>
		<add key="MockFileFolder" value=".\MockServiceFiles" />
		<add key="AppRootFolder" value="C:\BMODev\GitHub\cusc_112\Output\BMO" />
		<add key="MockConfigurationFolder" value=".\MockConfigurationFiles" />
	</appSettings>
</configuration>